<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <script src="../public/vue/vue2.6.10.js"></script>
    <link rel="stylesheet" href="../public/element-ui/index.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <script src="../public/element-ui/index.js"></script>
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <style>
            #app{
                width: 900px;
                height: 600px;
                position: relative;
            }
            .table-container{
                overflow:hidden;
                height: 100%;
            }
            table{
                border-collapse: collapse;
                height: 600px;
                border: 1px solid black;
                table-layout:fixed;
                margin: 0;
                width: 100%;
                height: 100%;
                empty-cells:hide;
            }
            td{
                vertical-align: middle;
                text-align: center;
                border: 1px solid black;
            }
            .td3{
                /* width: 200px; */
            }
            .async{
                /* background:blue; */
                width: 100px;
            }
            .add1{
                width: 400px;
                float: right;
                height: 100%;
                background: url(../public/assets/images/05index_fav_05.jpg) no-repeat center center;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                border-right: 1px solid black;
            }
            .add2{
                width: 300px;
            }
            .add3{
                width:200px;
            }
            .add4{
                width: 100px;
            }
            .add5{
                width: 0;
                border: none;
            }
           .await{
               border: none;
           }
           .place{
               color: gray;
           }
    </style>
</head>
<body>
    <div id="app">
        <div :class="addclass" @click='add'>

        </div>
        <div class="table-container">
            <table rules='all'>
            
                <tbody>
                    <tr>
                        <td colspan="3" class="td3">产品品类</td>
                        <td :colspan="tableData.length"  >
                            <el-select v-model="value" placeholder="请选择" >
                                <el-option
                                  v-for="item in options"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value">
                                </el-option>
                              </el-select>
                        </td>
                        
                    </tr>
                    <tr>
                        <td colspan="3">保险公司</td>
                        <td class="async" v-for='(item,index) of tableData'>
                            <template v-if='index ==0'>{{item.a2}}</template>
                            <template v-else>
                                <el-select v-model="item.a2" placeholder="请选择" >
                                    <el-option
                                      v-for="item in options"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                  </el-select>
                            </template>
                        </td>
                     
                      
                    </tr>
                    <tr>
                        <td colspan="3">产品名称</td>
                        <td class="async" v-for='(item,index) of tableData'>
                            <el-select v-model="item.a3" placeholder="请选择">
                                <el-option
                                  v-for="item in options"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value">
                                </el-option>
                              </el-select>
                        </td>
                      
                    </tr>


<!-- 基本信息 -->
                    <template v-if='showplace'>
                        <tr v-for='(item,index) of 4'>
                            <template v-if='index == 0'>
                                <td :rowspan='basicData.length'>基本信息</td>
                                <td colspan="2" :rowspan='basicData.length' class="place" > 选择产品名称后展示项目</td>
                            </template>
                            <td class="async" v-for='(item,index) of tableData'></td>
                        </tr>
                    </template>

                   
                    <template v-if='!showplace'>
                       <tr v-for='(item,index) of basicData'>
                           <template v-if='index==0'> 
                                <td :rowspan='basicData.length'>基本信息</td>
                           </template>
                           <template > 
                            <td colspan="2"  class="place"> {{item}}</td>
                            <td class="async" v-for='(value,i) of tableData' >
                                {{value[item] || '---'}}
                            </td>
                       </template>
                       </tr>
                    </template>



<!-- 保险责任 -->
                    <template v-if='showplace'>
                        <tr v-for='(item,index) of 11'>
                            <template v-if='index==0'>
                                <td rowspan="11">保险责任</td>
                                <td rowspan="11" colspan="2" class="place" >选择产品名称后展示项目</td>
                            </template>
                            <td class="async" v-for='(item,index) of tableData'></td>
                        </tr>
                    </template>
                    

                    <template v-if='!showplace'>
                        <tr v-for='(item,index) of insuredLiaLength.length'>
                            <template v-if='index == 0'>
                                <td :rowspan="insuredLiaLength.length" v-if='index == 0'>保险责任</td>
                            </template>
                            <template v-if='second.arr.includes(index)'>
                                <td :rowspan="activeN(index)">{{second.index[index].value}}</td>
                            </template>
                            <template>
                                <td>{{insuredLiaLength.data[index]}}</td>
                            </template>
                            <td class="async" v-for='(value,i) of tableData'>
                                {{value[insuredLiaLength.data[index].value] || '----'}}
                            </td>
                        </tr>
                    </template>



                    <tr>
                        <td rowspan='2'>保费测算</td>
                        <td colspan="2">案例信息</td>
                        <td class="async" v-for='(item,index) of tableData'>
                            {{item.a11}}
                        </td>
                       
                    </tr>
                    <tr>
                        <td colspan="2">需教保费</td>
                        <td class="async" v-for='(item,index) of tableData'>
                            {{item.a22}}
                        </td>
                       
                    </tr>
                </tbody>
                
              </table>
        </div>
        
         
    </div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            showplace:true,
            options: [{
                value: '选项1',
                label: '黄金糕'
                }, {
                value: '选项2',
                label: '双皮奶'
                }, {
                value: '选项3',
                label: '蚵仔煎'
                }, {
                value: '选项4',
                label: '龙须面'
                }, {
                value: '选项5',
                label: '北京烤鸭'
                }],
            value: '',
            basicData:['投保年龄','可保保额','保险期间','缴费期'],
            insuredLia:[
                {
                    value:'两全',
                    children:[
                       '等待期',
                       '满期生存金',
                       '身故保险金'
                    ]
                },
                {
                    value:'重疾',
                    children:[
                        '等待期',
                        '重疾种类',
                        '赔付次数',
                    ]
                },
                {
                    value:'轻度重疾',
                    children:[
                        '等待期',
                        '轻疾种类',
                        '赔付次数' ,
                    ]
                },
                {
                    value:'豁免',
                    children:[
                     
                    ]
                },
                {
                    value:'医疗',
                    children:[
                     
                    ]
                },

            ],
            tableData:[
                {
                    a1:'',
                    a2:'中国平安',
                    a3:'',
                    "投保年龄":'100',
                    a11:'哈哈',
                    a22:'oooo'
                },
            ],
            addclass:['add1']
        },
        computed: {
            insuredLiaLength(){
                let n = 0;
                let arr = []
                this.insuredLia.forEach(item=>{
                    n += item.children.length || 1
                    if(item.children.length == 0) arr.push('')
                    item.children.forEach(value=>{
                        arr.push(value)
                    })
                })
                return {
                    length: n,
                    data:arr
                }
            },
            second(){
                let arr = [ ]
                let arr2 = {  }
                let n = 0
                this.insuredLia.forEach((item,index)=>{
                  
                    if(index == 0){
                        arr.push(index )
                        arr2[index] = item
                    }else{
                        arr.push(n)
                        arr2[n] = item
                    }   
                    n += item.children.length || 1             
                })
              
                return {
                    arr:arr,
                    index:arr2
                }
            },
            first(){
                return this.tableData[0].a1 + this.tableData[0].a2 + this.tableData[0].a3
            },
            seconded(){
                if(this.tableData[1]) return this.tableData[1].a1 + this.tableData[1].a2 + this.tableData[1].a3
            },
            third(){
                if(this.tableData[2]) return this.tableData[2].a1 + this.tableData[2].a2 + this.tableData[2].a3
            },
            fourth(){
                if(this.tableData[3]) return this.tableData[3].a1 + this.tableData[3].a2 + this.tableData[3].a3
            },
            fiveth(){
                if(this.tableData[4]) return this.tableData[4].a1 + this.tableData[4].a2 + this.tableData[4].a3
            },

            
        },
        watch: {
            value(newValue,oldValue){
                this.tableData.forEach(item=>{
                    item.a1 = newValue
                })
            },
            first(newValue,oldValue){
                if(!(this.tableData[0].a1 && this.tableData[0].a2 && this.tableData[0].a3)) return
                console.log('first')
                this.place()
            },
            seconded(newValue,oldValue){
                if(!(this.tableData[1].a1 && this.tableData[1].a2 && this.tableData[1].a3)) return
                this.basicDataAsync = ['基本信息1','基本信息2','投保年龄','保险期间']
                this.insuredLiaAsync = [
                {
                    value:'两全',
                    children:[
                        '等待期'
                        ,
                        '满期生存金'
                        ,
                        '身故保险金'
                        ,
                    ]
                },
                {
                    value:'重疾',
                    children:[
                       '等待期'
                        ,
                       '重疾种类'
                        ,
                       '重疾1'
                        ,
                        
                         '重疾2'
                        ,
                    ]
                },
                {
                    value:'其他',
                    children:[
                       '其他1'
                        ,
                        '其他2'
                        
                    ]
                },
                ]
                this.assign()
                console.log('second')
            },
            third(newValue,oldValue){
                if(!(this.tableData[2].a1 && this.tableData[2].a2 && this.tableData[2].a3)) return
                console.log('third')
            },
            fourth(newValue,oldValue){
                if(!(this.tableData[3].a1 && this.tableData[3].a2 && this.tableData[3].a3)) return
                console.log('fourth')
            },
            fiveth(newValue,oldValue){
                if(!(this.tableData[4].a1 && this.tableData[4].a2 && this.tableData[4].a3)) return
                console.log('fiveth')
            },
            value(newValue,oldValue){
                this.tableData.forEach(item=>{
                    item.a1 =newValue
                })
            }
        },
        methods: {
            add(){
                if(this.tableData.length == 5) return
                this.tableData.push({
                    a1:this.value,
                    a2:'',
                    a3:''
                })
                
                this.addclass.push('add'+this.tableData.length)
            },
            place(){
                this.showplace = false
            },
            assign(){
                this.basicDataAsync.forEach(item=>{
                    if(!this.basicData.includes(item)) this.basicData.push(item)
                })
                this.insuredLiaAsync.forEach((item,index)=>{
                    var  i = this.insuredLia.findIndex (value=>value.value == item.value)
                    if( i != -1){
                        item.children.forEach(value=>{
                            if(!this.insuredLia[i].children.includes(value)) this.insuredLia[i].children.push(value)
                        })
                    }else{
                        this.insuredLia.push(item)
                    }
                })
     
            },
            activeN(i){
                let n = 0;
                let q;
                this.insuredLia.forEach((item,index)=>{
                    n   +=  item.children.length || 1
                    if(q !== undefined) return 
                    if(n >= i+1){
                        q = index
                    }
                })
                return this.insuredLia[q].children.length || 1
            },
           
        }
    })
</script>
</html>